body {
  /* width: 40vw; */
  text-align: center;
  margin: 0 auto;
  background-color: #AED19E;
  /* padding: 20px; */
}


h1 {
  font-family: 'Playfair Display SC', serif;
}

h3 {
  padding-top: 5%;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  margin: 5%;
}

img {
  margin-top: 5%;
  border: 10px ridge antiquewhite;
}

h2 {
  margin-top: 5%;
  margin-bottom: 3%;
}

h3, p {
  margin: 1%;
}

.detail-link {
  margin-top: 5%;
}

form button {
  display: block;
}

nav {
  position: fixed;
  right: 20px;
  top: 28px;

}

nav li {
  display: none;
}

label {
  display: block;
}

input, textarea {
  width: 80%;
  margin: 5px auto;
  border: 2px solid rgb(145, 145, 145);
  border-radius: 2px;
  padding-left: 20px;
}

button {
  width: 25%;
  text-align: center;
  margin: 0 auto;
}

input {
  height: 40px;
}

textarea {
  padding-top: 15px;
}

.icon-menu {
  font-size: 200%;
}